@tailwind base;
@tailwind components;
@tailwind utilities;

.background_color {
  background: radial-gradient(
    171.78% 159.43% at 100% 100%,
    #27173f 0%,
    #120d17 31.33%
  );
  min-height: 100vh; /* Asegura que el contenedor cubra al menos la altura de la ventana */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  margin: 0; /* Elimina cualquier margen por defecto */
  padding: 0; /* Elimina cualquier padding por defecto */
}

.logBox {
  background-color: #30363d;
  border-radius: 24px;
  box-shadow: 16px 14px 20px #000000;
  position: relative;
  overflow: hidden;
}

.logBox::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  background-image: conic-gradient(
    rgb(255, 255, 255) 20deg,
    transparent 120deg
  );
  animation: rotar 2s linear infinite;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.logBox::after {
  content: "";
  background-color: #30363d;
  border-radius: 24px;
  position: absolute;
  width: 98%;
  height: 99%;
  box-shadow: inset 16px 14px 20px #0000008c;
}

.img-shadow {
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.node-shadow {
  box-shadow: 16px 14px 20px #000000;
}

.img-hover:hover {
  filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
}

.img-hover-red:hover {
  filter: drop-shadow(0px 0px 8px rgb(255, 0, 0));
}

.bg-nodes {
  background-color: #30363d;
  border-width: 2px;
  border-color: white;
  border-radius: 12px;
  box-shadow: inset 16px 14px 20px #0000008c;
}

.bg-register {
  background-color: #30363d;
  border-radius: 12px;
  box-shadow: inset 16px 14px 20px #0000008c, 16px 14px 20px #000000;
}

.h-custom {
  height: 80vh;
}

/* css para textfield con label flotante */
.inputContainer {
  position: relative;
  height: 45px;
  width: 100%;
}

.inputContainer_3e4 {
  width: 25%;
}

.inputTxt {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
  color: white;
}

.inputTxt::placeholder {
  color: transparent;
}

.labelFloat {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 4px;
  background-color: rgb(48, 54, 61);
  border-radius: 30px;
  color: #dadce0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.inputTxt:focus + .labelFloat {
  top: -10px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.inputTxt:not(:placeholder-shown) + .labelFloat {
  top: -10px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.inputTxt:focus {
  border: 2px solid rgb(255, 255, 255);
}

.btn-form {
  background-color: #30363d;
  border-radius: 12px;
  box-shadow: inset 16px 14px 20px #0000008c, 16px 14px 20px #000000;
}

.btn-form-active {
  background-color: #470058;
  border-radius: 12px;
  box-shadow: inset 16px 14px 20px #0000008c, 16px 14px 20px #000000;
}

.btn-quest {
  border-radius: 12px;
  box-shadow: inset 16px 14px 20px #0000008c, 16px 14px 20px #000000;
}